# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/
.conda/
pip-wheel-metadata/

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Tests & Coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers / tools
.mypy_cache/
.pytype/
.pyre/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
